<div class="space-y-4">
  <div
    *ngFor="let meal of meals"
    class="flex items-center justify-between p-4 bg-gray-50 rounded-lg"
  >
    <div class="flex items-center space-x-3">
      <div [class]="getMealIconClass(meal)">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"
          ></path>
        </svg>
      </div>
      <div>
        <h4 class="font-medium text-gray-900 capitalize">{{ meal }}</h4>
        <p class="text-sm text-gray-600">
          {{ Math.round(mealBreakdown[meal].calories) }} calories
        </p>
      </div>
    </div>

    <div class="text-right text-sm">
      <div class="text-gray-700">
        P: {{ Math.round(mealBreakdown[meal].protein) }}g
      </div>
      <div class="text-gray-700">
        C: {{ Math.round(mealBreakdown[meal].carbs) }}g | F:
        {{ Math.round(mealBreakdown[meal].fat) }}g
      </div>
    </div>
  </div>
</div>
